#historyBar {
    height: 140px;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    padding: 10px 5px;
    overflow-y: hidden;
    margin-top: 5px;
}

.history {
    position: relative;
    width: auto !important;
    cursor: pointer;
}

.small.history {
    width: auto;
    height: 70%;
}

.bar {
    height: 100%;
    width: 20px;
    margin: 2px 2px;
    text-align: center;
}

i.tiny.icon {
    margin: unset;
}

.bar:hover {
    opacity: 0.2;
}

.ui.cards>.card {
    width: 150px !important;
}

.historyImage {
    height: 110px;
    width: 180px;
}

.filterContainer {
    text-align: center;
}

/* .history:first-child {
    margin-top: 1em !important;
}

.history:last-child {
    margin-bottom: 1em !important;
} */